body {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    /* color: #020C1E; */
    color: #CCCDD0;
    /* border:#FF0 dashed 1px; */
    position: relative;
    background-color: black;
}
.header {
    display: flex;
}
.container {
    padding-left: 100px;
    padding-right: 22px;
    max-width: 1520px;
    margin: 0 auto;
}
.aside {
    width: 122px;
    border-right: 1px solid #CCCDD0;
}
/* .box-left {
    background-color: #020C1E;
    max-width: 81px;
    width: 81px;
    box-sizing: border-box;
    padding-left: 22px;
    border-right: 1px solid #CCCDD0;
} */

.cosial {
    display: flex;
    flex-direction: column;
    position: sticky;
}

/* .section-item {
    background-color: #020C1E;
    color: #FFFFFF;
} */
/* .div:hover {
    transition: 0.3s ease-in;
    opacity: 1;
} */
.malaga {
    padding-right: 10px;
    padding-left: 10px;
}
/* .footer-flex {
    display: flex;
} */
.contact {
    margin-bottom: 83px;
}
.contact-box {
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    color: #020C1E;
    gap: 15px;
}
.contact-flex {
    display: flex;
    justify-content: space-between;
    gap: 15px;

}
.btn {
    padding: 30px 53px;
    color: #ffffff;
    background-color: #102EA1;
    border: 1px solid #9DA4B1; 
    cursor: pointer;
    transition: 0.3s ease-in;
} 
.btn:hover {
    background-color: #FFFFFF;
    border: 1px solid #9DA4B1; 
    color: #020C1E;
} 
.contact-left {
    background-image: url(../image/contact.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    max-width: 484px;
    width: 484px;    
    padding-top: 101px;
    padding-bottom: 101px;
}
.contact-title {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    margin: 0;
}
.contact-rigth {
    padding: 101px 136px;
}
.contact-coutry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding-top: 25px;
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #AFAFB0;
}
.contact-info {
    display: flex; 
    gap: 20px;
    font-size: 18px;
    color: #020C1E;
}
.link {
    text-decoration: 1px solid transparent;
    color: inherit;
    
}
.link:hover {
    text-decoration: 1px solid #102EA1;;
    color: #000;
}
/* .contact-checkbox {
    display: block;
} */
.contact-form {
    margin-bottom: 40px;
}
.contact-input {
    outline: none;
    border: 1px solid #9DA4B1; 
    padding: 30px;
    width: 100%;
}
.contact-input:focus {
    border: 1px solid #102EA1;
}
.contact-description {
    max-width: 440px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-top: 30px;
    margin-bottom: 40px;
    color: #020C1E;
}
.contact-checks {
    margin-top: 20px;

}
.contact-label {
    margin-left: 14px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;    
    color: #A4A4A5;
}
.contact-WhatsApp {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #51C85D;
    transform: scale(1);
    transition: 0.2s ease-in;
}
.contact-WhatsApp:hover {
    transform: scale(1.1);
}
.link-tel {
    font-weight: 500;
    font-size: 18px;
    color: #020C1E;
    text-decoration: none;    
    transform: scale(1);
    transition: 0.2s ease-in;
    margin: 0;
}
.link-tel:hover {
    transform: scale(1.1);
}
.contact-WhatsApp::before {
    content: '';
    background-image: url(../image/whatsapp_mid.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    padding-right: 30px;

}

.footer-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #858585;
    
}
.stripe {
    position: absolute;
    border: 1px solid #404859;
    left: 81px;
    height: 100%;
}
.stripes {
    position: relative;
}
/* .stripe::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    height: 100%;    
    border-right: 1px solid red;
    padding-right: 122px;
} */
.spani {
    color: #102EA1;
    text-decoration: none;
}
.country-1 {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    
    /* identical to box height */
    
    color: #020C1E;
}
.left {
    display: flex;
    gap: 20px;
}
.country {
    color: #FFFFFF;
}
.articles {
    margin-bottom: 200px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    height: 600px;
}
.articles-title {
    font-size: 110px;
    line-height: 134px;
    text-transform: uppercase;
    margin: 0;
    margin-top: 60px;
}
.articles-text {
    font-size: 25px;
    line-height: 30px;
    margin-top: 20px;
    margin-bottom: 45px;
}
.articles-btn {
    padding: 30px 60px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #020C1E;
    transition: 0.3s;
}
.articles-btn:hover {
    background-color: #FFFFFF;
    border: 1px solid; 
    color: #020C1E;
} 
.articles-box {
    display: flex;
    justify-content: space-between;
}
.articles-slider {
    position: relative;
    display: flex;    
    gap: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 136px;
    width: auto;
}
.articles-left {
    flex-basis: 63%;
}
.arrow-left {
    background-color: transparent;
    border: none;
    display: block;
    height: 83px;
    width: 83px;
    position: absolute;
    top: 25%;
    left: 0;
    background-image: url(../image/left_arrow.svg);
}

.arrow-right {
    background-color: transparent;
    border: none;
    display: block;
    height: 83px;
    width: 83px;
    position: absolute;
    background-image: url(../image/left_arrow.svg);
    transform: rotate(180deg);
    top: 25%;
    right: 40px;
}
.slide1-img {
    height: 423px;
}
.slide2-img {
    height: 423px;
}
.not-activ {
    opacity: 0.5;
}

.slide1-description {
    font-size: 25px;
    line-height: 30px;
    text-transform: none;
}

.black-bg {
    background-color: #020C1E;
    color: #FFFFFF;
}
.footer {    
    border-top: 1px solid #404859;
    padding-top: 28px;
    padding-bottom: 35px;
}
.copy {
    margin-right: 40px;
}
@media (min-width: 1560px) {
    .container {
        padding-left: 0px;
        padding-right: 0px;
    }
    .wrap {
        margin-left: 200px;
    }
}